{% extends "base.html" %}

{% block head %}
<title>Index</title>
{% endblock %}

{% block body %}

<h1><span class="blau">Palindrome </span><span class="orange">Calculator</span></h1>
<div class="form">
        <form action="/" method="POST">
            <label>Enter integer between 1 and 10,000 to make into palindrome:
                <input type="text" name="number" id="number">
            </label>
            <input type="submit" value="Calculate" class="orange-button"><br>
        </form>
</div>
<div>
    {% if number %}
    <form action="/Database" method="POST">
    <table>
        <tr>
            <th>Number</th>
            <th>Palindrome</th>
            <th>Cycles</th>
        </tr>
        <tr>
            <th><input type="text" id="number2" name="number2" value={{number}} readonly></th>
            <th><input type="text" id="palindrome2" name="palindrome2" value={{palindrome}} readonly></th>
            <th><input type="text" id="cycles2" name="cycles2" value={{cycles}} readonly></th>
        </tr>
    </table>
        <button class="orange-button">Save to DB</button>
    </form>
    {% endif %}
    <form action="/Database" method="GET">
        <button class="orange-button">Show DB</button>
    </form>
</div>

{% endblock %}
</html>