{% extends "base.html" %}

{% block head %}
<title>Index</title>
{% endblock %}

{% block body %}

<h1><span class="blau">Relief</span>p<span class="orange">feiler</span></h1>
<div class="form">
        <form action="/" method="POST">
            <label>Enter integer to make into palindrome:
                <input type="text" name="number" id="number">
            </label><br>
            <label>Palindrome:
                <input type="text" name="palindrome" id="palindrome">
            </label>
            <input type="submit" value="Calculate" class="orange-button">
            <input type="submit" value="Save to DB" class="blue-button">
        </form>
    </div>

{% endblock %}
</html>